$namespace:'zf-';


@mixin blockquote($block) {
    // zf-
    $blockName: $namespace + $block !global;

    .#{$blockName} {
        @content;
    }
}
@mixin status($color) {
    @each $key,$value in $color {
        &.#{$blockName}-#{$key}{
            background:#{$value};
        }
    }
}