$primary: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

$primary-active: #3a8ee6;
$success-active: #5daf34;
$warning-active: #cf9236;
$danger-active: #dd6161;
$info-active: #82848a;
$font-size:12px;
$border-radius:4px;
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-enter-active,.carousel-leave-active{
    transition: all 0.3s ease-out;
}
.carousel-enter-active{
    transform:translateX(100%);
}
.carousel-enter-to{
    transform:translateX(0);
}
.carousel-leave-active{
    transform:translateX(0);
}
.carousel-leave-to{
    transform:translateX(-100%);
}
.carousel-enter-active.reverse{
    transform:translateX(-100%);
}
.carousel-enter-to.reverse{
    transform:translateX(0);
}
.carousel-leave-active.reverse{
    transform:translateX(0);
}
.carousel-leave-to.reverse{
    transform:translateX(100%);
}
